@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap");

* {
  font-family: "Josefin Sans", sans-serif;
  padding: 0;
  margin: 0;
  color: #555;
  line-height: 1.5;
  box-sizing: border-box;
}

body {
  background: #f0f0f0;
}
ul,
li {
  list-style-type: none;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  column-gap: 32px;
  p {
    font-size: 19px;
  }
  header {
    grid-column: span 3;
    text-align: center;
    border-bottom: 2px solid #ddd;
    padding: 1rem;
  }
  nav {
    padding: 30px;
    border-right: 2px solid #ddd;
    p {
      font-weight: 800;
    }
    @media screen and(max-width:1200px) {
      grid-column: span 3;
      border-right: 0;
      border-bottom: 1px solid #ddd;

      ul {
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;
      }
    }

    li {
      text-decoration: underline;
      margin-top: 10px;
    }
  }
  article {
    padding: 30px;
    @media screen and(max-width:1200px) {
      grid-column: span 2;
    }
    @media screen and(max-width:980px) {
      grid-column: span 3;
    }
    img {
      width: 100%;
      margin: 2rem 0;
    }
    h2 {
      font-size: 3.5rem;
      line-height: 1.1;
      @media screen and(max-width:980px) {
        font-size: 2rem;
      }
    }
  }
  aside {
    padding: 30px;
    border-left: 2px solid #ddd;
    p {
      margin-bottom: 10px;
    }
    @media screen and(max-width:980px) {
      grid-column: span 3;
      border-left: 0;
      border-top: 2px solid #ddd;
    }
  }
  footer {
    grid-column: span 3;
    text-align: center;
    padding: 1rem;
    border-top: 1px solid #ddd;
  }
}
